<ion-header>
  <ion-toolbar>
    <ion-title>home</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-header>
      <ion-card-subtitle>Hello Selma</ion-card-subtitle>
      <ion-card-title>Welcome Back</ion-card-title>
    </ion-card-header>
  
    <ion-card-content>
      
    </ion-card-content>
  </ion-card>
    
  <ion-grid>
    <ion-row>
      <ion-col>
        <ion-card>
          <ion-item>
            <img src="../../assets/icon/idea.png" alt="">
           
          </ion-item>
          <ion-card-content>
         10
          </ion-card-content>
        </ion-card>
      </ion-col>
      <ion-col>
        <ion-card>
          <ion-item>
            <img src="../../assets/icon/idea.png" alt="">
           
          </ion-item>
          <ion-card-content>
         10
          </ion-card-content>
        </ion-card>
      </ion-col>
      </ion-row>
  </ion-grid>
</ion-content>

<!--   -->
